*{
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    position: fixed;
}

.navbar-collapse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
li{
    list-style-type: none;
    size: 20px;
    color: black;
}

.tituloCentral{
    position: absolute; 
    top:375px;
    height: auto;
    width: 400px;
    text-align: center;
}


h1{
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 4rem;
    text-align: center;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 8px;
}
h2{

    font-family: "DM Sans",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight:500;
    font-weight:bolder;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.material-symbols-outlined {
    color: #e2e2e2;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.ornamentoClass{
    visibility: visible;
    width: 15rem;
}
.textCentral{
    font-family: "Cormorant Garamond", Sans-serif;
    padding-top: 8px;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 2.9px;
}


/*  -----HEADER----- */

.linkBlanco{
    color: antiquewhite;
}

.linkBlanco:hover{
    color: antiquewhite;
    font-size: 18px;
}
.linkBlanco:visited{
    color: antiquewhite;
}

/*****/


.bg-light{
    background-color:#818181 !important;
    color: antiquewhite;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


/*-transicion imagen y zoom*/
/* .zoom {
    transition:initial; 
  
}
 
.zoom:hover {
    transform: scale(1.5); 
}
  */



main{
    background-image: url("../multimedia/portada.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.contenedorPadrinos{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.2rem;
    text-align: center;
    color: #2B2B2B;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contenedorPadrinos p{
    padding-bottom: 1rem;
}
.tituloPadrinos{
    color: #7A7A7A;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 2em;
}

.cuenta-atras {
    text-align: center;
    width: 100%;
    color: black;
    padding: 15px;
    font-size: 30px;
    font-family: sans-serif;  
}

form{
    width: 700px;
    border: solid 1px white;
    padding: white;
}

article{
    margin-top: 50px;
    margin-bottom: 50px;
}

button{
    color: black;
    background-color: white;
    border: solid 1px black;
    margin: 10px;
}

.centradocolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centradorow{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.center{
    text-align: center;
}


.white{
    color: white;
}







